<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


        <!-- 第一种 读取properties-->
        <util:properties id="db" location="classpath:spring11readprop/db.properties" />

        <!-- 比如要配置连接池-->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
                <property name="password" value="#{db.pwd}"/>
                <property name="user" value="#{db.user}"/>
                <property name="driverClass" value="#{db.driver}"/>
                <property name="jdbcUrl" value="#{db.url}"/>
        </bean>

        <!-- 第二种 读取properties-->
        <context:property-placeholder location="classpath:spring11readprop/dbconfig.properties"/>

        <bean id="dataSource1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
                 <property name="password" value="root"></property>
                 <property name="user" value="root"></property>
                 <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
                 <property name="jdbcUrl" value="jdbc:mysql:///ssm"></property>
        </bean>


        <!-- 第三种 读取多个properties 怎么办-->
        <context:property-placeholder location="classpath:spring11readprop/one.properties,classpath:spring11readprop/two.properties"/>
        <bean id="read" class="spring11readprop.ReadPropertiesBean">
                <property name="name" value="#{one.name}"></property>
                <property name="age" value="#{two.age}"></property>
        </bean>
</beans>